<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="primary" (click)="openBrowser()"></button>
  <div [innerHTML]="question | safeHtml"></div>
</ion-content>
